
body {
    margin: 0;
    line-height: normal;
}


:root {
    
    /* fonts */
    --font-judson: Judson;
    --font-koh-santepheap: 'Koh Santepheap';
    
    /* font sizes */
    --font-size-31xl: 50px;
    --font-size-24xl: 43px;
    --font-size-14xl: 33px;
    --font-size-21xl: 40px;
    
    /* Colors */
    --color-white: #fff;
    --color-royalblue-100: #295abd;
    --color-royalblue-200: rgba(41, 90, 189, 0.15);
    --color-black: #000;
    
    /* Border radiuses */
    --br-31xl: 50px;
    --br-lg: 18px;
    
}